---
// utils imports
import { slugify } from "../js/utils";

const { title, date, category, author, image } = Astro.props;
---

<div class="post-header-container">
  <h1>{title}</h1>
  <div>
    <a href={`/author/${slugify(author)}/`}>{author}</a> • <a href={`/category/${slugify(category)}/`}>{category}</a> • {date}
  </div>  
</div>

<style>
  .post-header-container {
    border: 1px solid red;
    text-align: center;
    margin-bottom: 1rem;
  }
  .post-header-container h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
</style>