---
// component imports
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BackToTop from "../components/BackToTop.astro";
import SlideInHeader from "../components/SlideInHeader.astro";
import PostHeader from "../components/PostHeader.astro";
import RelatedPosts from "../components/RelatedPosts.astro";
import CategoryCloud from "../components/CategoryCloud.astro";

// utils imports
import { formatBlogPosts } from "../js/utils";

// style import
import "../styles/styles.css";

/* const { post } = Astro.props; */
const { frontmatter } = Astro.props;
const { title, description, date, category, author, image } = frontmatter;

const allPosts = Object.values(
  import.meta.glob("../pages/blog/*.md", { eager: true })
);

// const allPosts = await Astro.glob("../pages/blog/*.md"); DEPRECATED
const formattedPosts = formatBlogPosts(allPosts, {
  sortByDate: false,
});
const relatedPosts = formattedPosts
  .filter(
    (post) =>
      post.frontmatter.category.name.toLowerCase() === category.name.toLowerCase() &&
      post.frontmatter.title !== title
  )
  .slice(0, 3);

  
---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="public/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&display=swap" rel="stylesheet">
		<!-- <meta name="generator" content={Astro.generator} /> -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
		<title>Plants</title>
    <!-- <script>
      if (localStorage.getItem('mode') === 'true') {
        document.documentElement.classList.add('dark-mode');
      }
    </script> -->
	</head>
	<body>
    <!-- <SlideInHeader /> -->
    <Header />
    <main class="post-container">
<!--      {post?.data?.image && (
  <img src={post.data.image.src} alt={post.data.image.alt} />
)} -->
      <div class="post-container__content">
        <PostHeader {title} {date} {category} {author} />
        <slot />
      </div>
      <div class="post-container__sidebar">
        {
        relatedPosts.length > 0 && (
          <aside aria-label="Related posts">
            <h2 class="h3">Похожие статьи</h2>
            <RelatedPosts {relatedPosts} />
          </aside>
          )
        }

        <h2>Все категории</h2>
        <CategoryCloud /> <!-- showCount={true}  -->
      </div>

    </main>
    <!-- <slot>Some Text</slot> -->
    <Footer />
    <BackToTop />
    <script is:inline>
      function initDarkMode() {
        const switchBtn = document.querySelector('.switch-button');
        if (!switchBtn) return;

        let darkModeOn = JSON.parse(localStorage.getItem('mode')) || false;

        if (darkModeOn) {
          document.documentElement.classList.add('dark-mode');
          switchBtn.classList.add('slide');
        }

        switchBtn.addEventListener('click', () => {
          darkModeOn = !darkModeOn;
          document.documentElement.classList.toggle('dark-mode', darkModeOn);
          switchBtn.classList.toggle('slide', darkModeOn);
          localStorage.setItem('mode', JSON.stringify(darkModeOn));
        });
      }
      // toggle('class', condition); documentElement returns <html>
      initDarkMode();
      document.addEventListener('astro:page-load', initDarkMode);
    </script>
	</body>
</html>